@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Crimson Pro';
  src: url('../assets/crimsonPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Inter';
  src: url('../assets/inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sego';
  src: url('../assets/sego.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --font-title: 'Sego';
  --font-subtitle: 'Crimson Pro';
  --font-body: 'Inter';
  --font-label: 'Crimson Pro';

  --midnight: #130F3B;
  --darknight: #1A1424;
  --darklight: #5C4A52;
  --amber: #B38839;
  --lunar: #EBEBEB;
  --careful: #FB7B40;

  --gradient-night: linear-gradient(100deg, var(--darknight) 0%, var(--midnight) 50%, var(--darknight) 100%);
  --gradient-gold: linear-gradient(90deg, var(--amber) 0%, var(--lunar) 50%, var(--amber) 100%);
  --gradient-careful: linear-gradient(90deg, var(--careful) 0%, var(--lunar) 50%, var(--careful) 100%);
}

@layer base {
  body {
    background: var(--gradient-night);
    color: var(--lunar);
    font-family: var(--font-body);
    font-weight: 400;
    text-align: justify; 
  }

  h1 {
    font-family: var(--font-title);
    font-size: 30px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    text-align: center;
    background: var(--gradient-gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }

  h2 {
    font-family: var(--font-subtitle);
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--lunar);
    font-weight: 400;
  }

  label {
    font-family: var(--font-label);
    font-weight: 600; 
    font-size: 20px;
    color: var(--lunar);
    text-align: left;
    letter-spacing: 0.02em;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }
}

@layer components {
 /* --- FORM --- */
 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
   max-width: 100%;
   padding: 2rem;
 }

 form p {
  color: var(--careful); 
  font-family: var(--font-body); 
  font-weight: 400; 
  letter-spacing: 0.05em;
  text-align: left;
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

  /* --- CARDS --- */
  .card {
    max-width: 100%;
    background:var(--midnight);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 1px solid var(--amber);
    border-radius: 50px;
    padding: 2rem;
  }

  /* --- BUTTONS --- */
  .btn-gold, .btn-disabled, .btn-delete, .btn-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50px;
    font-family: var(--font-body);
    font-size: 16px;
    padding: 1rem;
    margin: 1rem;
    height: fit-content;
    max-width: 100%;
    cursor: pointer;
  }

  .btn-gold {
    background: var(--gradient-gold);
    color: var(--midnight);
    border: 1px solid transparent;
  }

  .btn-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: rgba(92, 74, 82, 0.3); 
    border: 1px solid var(--amber);
    color: var(--careful); 
  }

  .btn-delete {
    font-weight: 700; 
    background: rgba(92, 74, 82, 0.3);
    border: 1px solid var(--careful);
    color: var(--careful);
  }

  .btn-choice {
    border: 1px solid var(--amber);
    background: var(--gradient-gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* --- INPUTS --- */
  .input {
    max-width: 100%;
    padding: 1rem;
    height: fit-content;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: all 300ms;
    border-radius: 50px;
    background: rgba(92, 74, 82, 0.3);
    border: 1px solid var(--amber);     
    color: rgba(235, 235, 235, 0.7);
    font-family: var(--font-body);
    font-size: 16px;
    text-align: left;
  }

  /* --- LINKS --- */
  .link {
    text-align: left;
    transition: opacity 300ms;
    font-family: var(--font-body);
    color: var(--amber);
    font-size: 16px;
  }

  .link-arrow {
    text-align: left;
    transition: opacity 300ms;
    font-family: var(--font-body);
    line-height: 1.6;
    background: var(--gradient-gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
  }

  .link:hover {
    opacity: 0.8;
  }
}

@layer utilities {
  .logoIW .img {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
  }
}