
  
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    width: 100%;
  }

  .navlist {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    list-style: none;
    gap: 1rem;
  }

  .navlist li {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  li .navlink {
    font-family: var(--font-body);
    font-size: 1.1rem;
    color: var(--lunar);
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    letter-spacing: 0.05em;
  }
  
  li .navlink:hover {
    color: var(--amber);
  }


 

  .mobile-close-container {
    display: none;
  }

  .spacer {
    flex: 1;
  }

  .burger-menu {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 101; 
    padding: 5px;
  }
  
  .burger-menu .line {
    width: 30px;
    height: 3px;
    background-color: var(--amber);
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  
  /* Animation pour transformer le burger en X quand il est ouvert */
  .burger-menu .line.open:nth-child(1) { transform: rotate(45deg) translate(5px, 5px); }
  .burger-menu .line.open:nth-child(2) { opacity: 0; }
  .burger-menu .line.open:nth-child(3) { transform: rotate(-45deg) translate(7px, -7px); }